.swiper {
    width: 100%;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .swiper_slide {
        display: flex;
        flex-direction: column;
        gap: 1em;

        padding: 3em;
        margin: 3em 0;
        height: auto;
        border-radius: 1em;

        -webkit-box-shadow: 0px 16px 48px -16px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 16px 48px -16px rgba(0, 0, 0, 0.5);
        box-shadow: 0px 16px 48px -16px rgba(0, 0, 0, 0.5);

    }

}