.main {
  /* width: 100%;
  max-width: 1100px;
  margin: auto; */
}




/* footer */
.footer {

  padding: 2em 0;

  .footer__container {
    width: 100%;
    max-width: 1100px;
    margin: auto;

    display: flex;
    justify-content: space-between;
  }

}

/* responsive */
@media screen and (max-width: 425px) {

  .footer {
    .footer__container {
      display: flex;
      flex-direction: column;
      gap: 1em
    }

    .footer__contact,
    .footer__copyright {
      display: flex;
      flex-direction: column;
      gap: 1em
    }

    .footer__up {
      text-align: center;
    }

  }

}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 2em;
  }
}